body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.button-holder {
    display: flex;
    justify-content: center;
}

.change-button {
    background-color: darkblue;
    color: white;
    border: 2px solid black;
    font-size: 20px;
    margin: 1em;
    padding: 5px;
    border-radius: 5px;
}

.main-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    aspect-ratio: 1;
}

.pixel {
    background-color: grey;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid black;
}